GNU nano 9.0         config.json
{
    "auto_delete_after_upload": false,
    "folders": {
        "Telegram_Topic_Name": 2  #Telegram_Topic_ID
	# TelegramTop8c Name and Folder Name must be match
    }
}
